 a:hover,a:focus,a:active{text-decoration:none;}
/* CSS for dash board start  */
.paddL0{
	padding-left:0px;
}
px-app-nav .login {
    width: 13.6rem;
}
px-app-nav.navbar--collapsed .login {
    width: 2.666667rem;
}
main:not([style-scope]):not(.style-scope){
	background-color:#E8E9EB !important;
}
.dash_op{
	padding:0px;
	margin:0px;
}
.dash_op li{
	list-style: none;
    display: inline-block;
    background: #fff;
   padding: 2px 8px;
}
.paddR0{
	padding-right:0px;
}
/* .tab-content>.active {
    display: block;
    float: left;
    width: 100%;
} */
.box_text{
	font-size: 15px;
    color: #828181;
	
}
.span_text{
	font-size: 15px;
    color: #828181;
	width: 49%;
	text-align:left;
	
}
.span1_text{
	font-size: 15px;
    color: #828181;
	width: 49%;
	text-align:right;
	
}
.greeon_box{
	
    border-top: 3px solid #8BBD3A;
    padding: 5px;
    background: #fff;
    margin-right: 6px;
    width:24.3%;
}
.green_box_title{
	background-color: #8BBD3A;
    color: #fff;
    border: 1px solid #8BBD3A;
    border-radius: 11px;
    padding: 2px;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
}
.darkg_box{
	
    border-top: 3px solid #29B87A;
    padding: 5px;
    background: #fff;
    margin-right: 6px;
    width:24.3%;
}
.darkg_box_title{
	background-color: #29B87A;
    color: #fff;
    border: 1px solid #29B87A;
    border-radius: 11px;
    padding: 2px;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
}

.dash_op li.active {
	
	background:#3694F8;
	
}
.dash_op li.active a{color:#ffffff !important;}

.orange_box{
	
    border-top: 3px solid #FF9101;
    padding: 5px;
    background: #fff;
    margin-right: 6px;
    width:24.3%;
}
.orange_box_title{
	background-color: #FF9101;
    color: #fff;
    border: 1px solid #FF9101;
    border-radius: 11px;
    padding: 2px;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
}
.orange_text{
	color: #FF9101;
    font-size: 25px;
	width: 49%;
    text-align: right;
}

.blue_box{
	
    border-top: 3px solid #27A9E3;
    padding: 5px;
    background: #fff;
    margin-right: 6px;
    width:24.3%;
}
.blue_box_title{
	background-color: #27A9E3;
    color: #fff;
    border: 1px solid #27A9E3;
    border-radius: 11px;
    padding: 2px;
    font-size: 13px;
    margin-bottom: 10px;
    display: inline-block;
}
.blue_text{
	color: #27A9E3;
    font-size: 25px;
	width: 49%;
    text-align: right;
}


.tab-pane .col-md-3:last-child{
	margin-right:0px;
}
.clear_b{clear: both;}
/* CSS for dash board end  */
/* CSS for dash board air quality monitoring start  */
.air_op{  padding-left: 0px;}
.air_op li{
	    list-style: none;
    display: inline-block;
    background: #fff;
    padding: 2px 6px;
    float: left;
    margin-right: 2px;
}
.air_op li a{color:#565656 !important;}
.air_op li.active {
    background: #8BBE3D;
}
.air_op li.active a {
    color: #ffffff !important;
}
.bgwhite{
	background:#ffffff;
	
}

.marB10{
	
	margin-bottom:10px;
	
}
.bgwhitw_1{
	float:left;
	width:100%;
	background:#fff;
}
.status_txt{
	margin-top: 30%;
    color: #676767;
}
.stis_sta{
	color:#8BBE3D;
    margin-top: 0px;
    font-weight:600;
}
.warn_sta{
	color:#FF9000;
    margin-top: 0px;
    font-weight:600;	
	
}
.prami_txt{color: #888585;}
.marL0px{margin-left: 0px !important;}
.paddLR10{    padding: 0px 10px;}
.clrgr{color:#FF9000;}
.clrorg{color:#8BBE3D;}
.pse_txt{display:inline-block;   width: 100px;}

/* CSS for dash board air quality monitoring end  */

.highcharts-button{display:none;}