
<div class="col-md-8 pull-right text-right ">
	<ul class="air_op">
		<li class="active"><a href="#tab2" data-toggle="tab"
			ng-click="graphFunction('x1')">SMT Area</a></li>
		<li><a href="#tab22" data-toggle="tab"
			ng-click="graphFunction('x2')">Production Ground floor</a></li>
		<li><a href="#tab23" data-toggle="tab"
			ng-click="graphFunction('x3')">Near Soldering Machine</a></li>
	</ul>

</div>
<div class="tab-content">
	<div class="tab-pane active" id="tab2">
		<div class="col-md-4">
			<h4>Prediction Graph</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="prediction_graph1" class="CampaignPercent"
				style="height: 250px;"></div>
		</div>
		<div class="clearfix"></div>

		<div class="col-md-4">
			<h4>Air Pollutant Trends</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="Air_Pollutant_Trends1" class="CampaignPercent1"
				style="height: 250px;"></div>
		</div>

	</div>
	<div class="tab-pane" id="tab22">
		<div class="col-md-4">
			<h4>Prediction Graph</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="prediction_graph2" class="CampaignPercent"
				style="height: 250px;"></div>
		</div>
		<div class="clearfix"></div>

		<div class="col-md-4">
			<h4>Air Pollutant Trends</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="Air_Pollutant_Trends2" class="CampaignPercent1"
				style="height: 250px;"></div>
		</div>

	</div>
	<div class="tab-pane" id="tab23">
		<div class="col-md-4">
			<h4>Prediction Graph</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="prediction_graph3" class="CampaignPercent"
				style="height: 250px;"></div>
		</div>
		<div class="clearfix"></div>

		<div class="col-md-4">
			<h4>Air Pollutant Trends</h4>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 bgwhite" style="padding-top: 10px;">
			<div id="Air_Pollutant_Trends3" class="CampaignPercent1"
				style="height: 250px;"></div>
		</div>


	</div>
</div>
